@media (max-width: 1200px) {
    .item-content {
        display: none;
    }
    .detail-title {
        font-size: 25px;
    }
}

@media (min-width: 1200px) {
    .mMenu {
        display: none;
    }
}